  /* Variables */
  :root {
    --fontSize-xs: 0.75rem;
    --fontSize-sm: 0.875rem;
    --fontSize-md: 1rem;
    --fontSize-lg: 1.125rem;
    --fontSize-xl: 1.25rem;
    --fontSize-2xl: 1.5rem;
  
    --icon-fontSize-sm: 1rem;
    --icon-fontSize-md: 1.25rem;
    --icon-fontSize-lg: 1.5rem;
  
    /* Remember to keep in sync with theme breakpoints */
    --maxWidth-xs: 0;
    --maxWidth-sm: 600px;
    --maxWidth-md: 900px;
    --maxWidth-lg: 1200px;
    --maxWidth-xl: 1440px;
  }
  
  *:focus-visible {
    outline: 2px solid var(--mui-palette-primary-main);
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  body {
    height: 100%;
  }
  